<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/register">Register</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/create-post">Create Post</a>
    </li>
    <li>
      <a href="/protected-route">Protected Route</a>
    </li>
    <li>
      <a href="/admin-route">Admin Route</a>
    </li>
    <li>
      <a href="/membership">Membership</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</nav>
