<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is an admin route</p>
    <a href="/protected-route">Go to protected route</a>
    <a href="/create-post">Create Post</a>
    <a href="/logout">Logout</a>
  </body>
</html>
