<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>User: <%= user %></p>
    <form action="" method="post">
      <label for="posttext">Write Post</label>
      <textarea
        name="posttext"
        id="posttext"
        placeholder="Write your post here..."></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>