<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <%- include('../partials/navigation') %>
    </header>
    <h1><%= title %></h1>
    <form action="" method="post">
      <label for="uname">Username</label>
      <input type="text" name="uname" id="uname">
      <label for="pw">Password</label>
      <input type="text" name="pw" id="pw">
      <button type="submit">Sign In</button>
    </form>
  </body>
</html>
