<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Login Failed</p>
    <a href="/">Return to home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </body>
</html>
