<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <%- include('../partials/navigation') %>
    </header>
    <h1><%= title %></h1>
    <p>This is a protected route</p>
    <a href="/admin-route">Go to admin route</a>
    <a href="/create-post">Create Post</a>
    <a href="/logout">Logout</a>
  </body>
</html>
